<%- include('../partials/header') %>

<h2>All Restaurants</h2>
<table>
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Location</th>
            <th>Hours of Operation</th>
            <th>Reviews</th>

            <th></th>

            <th></th>

            <th></th>

            <th></th>

            <th>Likes</th>
            <th>Dislikes</th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(r => { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.location %></td>
            <td><%= r.hours %></td>
            <td><a href="/restaurants/<%= r._id %>">Reviews</a></td>
            <td>
                <a href="/restaurants/<%= r._id %>/edit"><button>Update</button></a>
            </td>
            <td>
                <form action="/restaurants/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
            <td>
                <form action="/restaurants/<%= r._id %>/like?_method=PUT" method="POST">
                    <button type="submit">Like</button>
                </form>
            </td>
            <td>
                <form action="/restaurants/<%= r._id %>/dislike?_method=PUT" method="POST">
                    <button type="submit">Dislike</button>
                </form>
            </td>
            <td><%= r.likes %></td>
            <td><%= r.dislikes %></td>
        </tr>
        <% }) %>
    </tbody>
</table>

