<%- include('../partials/header') %>

<h2>All Restaurants</h2>
<table>
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Location</th>
            <th>Hours of Operation</th>
            <th>Reviews</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(r => { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.location %></td>
            <td><%= r.hours %></td>
            <td><a href="/restaurants/<%= r._id %>">Reviews</a></td>
            <td>
                <a href="/restaurants/<%= r._id %>/edit"><button>Update</button></a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

