<%- include('../partials/header') %>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get('/geolocation')
        .then(response => {
            const data = response.data;
            console.log(data);
    })
    .catch(error => console.error('Error fetching geolocation data:', error));
</script>

<h2 class="all">All Restaurants</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Location</th>
            <th>Hours of Operation</th>
            <th>User Name</th>

            <th></th>

            <th></th>

            <th></th>

            <th></th>

            <th></th>

            <th>Likes</th>
            <th>Dislikes</th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(r => { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.location %></td>
            <td><%= r.hours %></td>
            <td class="review-user"><img class="avatar" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><a href="/restaurants/<%= r._id %>" button type="button" class="btn btn-primary" >Reviews</a></td>
            <td>
                <% if (user?._id.equals(r.user)) { %>
                <a href="/restaurants/<%= r._id %>/edit"><button type="button" class="btn btn-warning">Update</button></a>
                <% } %>
            </td>
            <td>
                <% if (user?._id.equals(r.user)) { %>
                <form action="/restaurants/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-secondary">X</button>
                </form>
                <% } %>
            </td>
            <td>
                <form action="/restaurants/<%= r._id %>/like?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-success">Like</button>
                </form>
            </td>
            <td>
                <form action="/restaurants/<%= r._id %>/dislike?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-danger">Dislike</button>
                </form>
            </td>
            <td><%= r.likes %></td>
            <td><%= r.dislikes %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<br><br><br><br><br><br><br><br><br><br>

<%- include('../partials/footer') %>

