<%- include('../partials/header') %>

<h2>All Restaurants</h2>
<table>
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Location</th>
            <th>Hours of Operation</th>
            <th>Reviews</th>
            <!-- <th>Date</th>
            <th>Rating</th>
            <th>Description</th>
            <th>User Name</th> -->
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(r => { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.location %></td>
            <td><%= r.hours %></td>
            <td><a href="/restaurants/<%= r._id %>">Reviews</a></td>
            <!-- <td><%= r.date %></td>
            <td><%= r.rating %></td>
            <td><%= r.description %></td>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td> -->
        </tr>
        <% }) %>
    </tbody>
</table>

