<%- include('../partials/header') %>

<div class="container">
    <h2 class="text-center mt-4">Enter New Review</h2>
    <p class="text-center">~Please fill out all sections before submitting~</p>
    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST" container="w-50 mx-auto">
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="datetime-local" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Rating:</label>
            <select class="form-select" id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-info">Submit Review</button>
        <br><br><br>
    </form> 
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rating</th>
                <th>Description</th>
                <th>User Name</th>

                <th></th>

                <th></th>

                <th></th>

                <th></th>
                <th>Likes</th>
                <th>Dislikes</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function(r) { %>
                <tr>
                    <td><%= r.date %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.description %></td>
                    <td class="review-user"><img class="avatar" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-secondary">X</button>
                        </form>
                        <% } %></td>
                    </td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <a href="/reviews/<%= r._id %>/edit"><button type="submit" class="btn btn-warning">Update</button></a>
                        <% } %>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/like?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-success">Like</button>
                        </form>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/dislike?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-danger">Dislike</button>
                        </form>
                    </td>
                    <td><%= r.likes %></td>
                    <td><%= r.dislikes %></td>
                </tr>
                <tr>
                    <td><a href="/comments/reviews/<%= r._id %>/new" button type="button" class="btn btn-light">Add Comment</a></td>
                    <td><% r.comments.forEach(c => { %>
                        <tr>
                            <td><%= c.description %></td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-secondary">X</button>
                                    </form>
                                <% } %></td>
                            </td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                <a href="/comments/<%= c._id %>/edit"><button type="button" class="btn btn-warning">Update</button></a>
                                <% } %>
                            </td>
                            <td class="review-user"><img class="avatar" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                            <td>
                                <form action="/comments/<%= c._id %>/like?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-success">Like</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comments/<%= c._id %>/dislike?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-danger">Dislike</button>
                                </form>
                            </td>
                            <td><%= c.likes %></td>
                            <td><%= c.dislikes %></td>
                        </tr>
                    <% }) %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<%- include('../partials/footer') %>