<%- include('../partials/header') %>

<div class="container">
    <h2 class="text-center mt-4">Enter New Review</h2>
    <p class="text-center">~Please fill out all sections before submitting~</p>
    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST" container="w-50 mx-auto">
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="datetime-local" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Rating:</label>
            <select class="form-select" id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-info">Submit Review</button>
        <br><br><br>
    </form> 
</div>
<div class="container mt-5">
    <% reviews.forEach(function(r) { %>
    <div class="card mb-3">
        <div class="card-header">
            <h5>Review by <img src='<%= r.userAvatar %>' width="40" height="40">  <%= r.userName %> on <%= r.date %></h5>
        </div>
        <div class="card-body">
            <h6 class="card-title">Rating:<%= r.rating %></h6>
            <p class="card-text"><%= r.description %></p>
            <div class="d-flex">
            <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-secondary btn-sm me-1">X</button>
                </form>
            <% } %></td>
            <% if (user?._id.equals(r.user)) { %>
                <a href="/reviews/<%= r._id %>/edit"><button type="submit" class="btn btn-warning btn-sm me-1">Update</button></a>
            <% } %>
            <form action="/reviews/<%= r._id %>/like?_method=PUT" method="POST" class="me-1">
                <button type="submit" class="btn btn-success btn-sm">Like (<%= r.likes %>)</button>
            </form>
            <form action="/reviews/<%= r._id %>/dislike?_method=PUT" method="POST" class="me-1">
                <button type="submit" class="btn btn-danger btn-sm">Dislike (<%= r.dislikes %>)</button>
            </form>
            </div>
        </div>
        <div class="card-footer bg-light">
            <h6 class="mb-2">Comments:</h6>
            <div class="ms-3">
                <% r.comments.forEach(c => { %>
                    <div class="mb-2">
                        <p class="mb-4"><strong><img src='<%= c.userAvatar %>' width="40" height="40">  <%= c.userName %>:</strong> <%= c.description %></p>
                        <div class="d-flex">
                            <% if (user?._id.equals(r.user)) { %>
                                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-secondary me-1 btn-sm">X</button>
                                </form>
                            <% } %>
                            <% if (user?._id.equals(r.user)) { %>
                                <a href="/comments/<%= c._id %>/edit"><button type="button" class="btn btn-warning me-1 btn-sm">Update</button></a>
                            <% } %>
                            <form action="/comments/<%= c._id %>/like?_method=PUT" method="POST" class="me-1">
                                <button type="submit" class="btn btn-success btn-sm">Like (<%= c.likes %>)</button>
                            </form>
                            <form action="/comments/<%= c._id %>/dislike?_method=PUT" method="POST" class="me-1">
                                <button type="submit" class="btn btn-danger btn-sm">Dislike (<%= c.dislikes %>)</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
                <a href="/comments/reviews/<%= r._id %>/new" button type="button" class="btn btn-secondary btn-sm mt-2">Add Comment</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
    <!-- <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rating</th>
                <th>Description</th>
                <th>User Name</th>

                <th></th>

                <th></th>

                <th></th>

                <th></th>
                <th>Likes</th>
                <th>Dislikes</th>
            </tr>
        </thead> -->
        <!-- <tbody>
            <% reviews.forEach(function(r) { %>
                <tr>
                    <td><%= r.date %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.description %></td>
                    <td class="review-user"><img class="avatar" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-secondary">X</button>
                        </form>
                        <% } %></td>
                    </td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <a href="/reviews/<%= r._id %>/edit"><button type="submit" class="btn btn-warning">Update</button></a>
                        <% } %>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/like?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-success">Like</button>
                        </form>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/dislike?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-danger">Dislike</button>
                        </form>
                    </td>
                    <td><%= r.likes %></td>
                    <td><%= r.dislikes %></td>
                </tr>
                <tr>
                    <td><a href="/comments/reviews/<%= r._id %>/new" button type="button" class="btn btn-light">Add Comment</a></td>
                    <td><% r.comments.forEach(c => { %>
                        <tr>
                            <td><%= c.description %></td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-secondary">X</button>
                                    </form>
                                <% } %></td>
                            </td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                <a href="/comments/<%= c._id %>/edit"><button type="button" class="btn btn-warning">Update</button></a>
                                <% } %>
                            </td>
                            <td class="review-user"><img class="avatar" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                            <td>
                                <form action="/comments/<%= c._id %>/like?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-success">Like</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comments/<%= c._id %>/dislike?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-danger">Dislike</button>
                                </form>
                            </td>
                            <td><%= c.likes %></td>
                            <td><%= c.dislikes %></td>
                        </tr>
                    <% }) %></td>
                </tr>
            <% }); %>
        </tbody> -->
    <!-- </table> -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<%- include('../partials/footer') %>