<%- include('../partials/header') %>

<h2>Enter New Review</h2>
<form action="/restaurants/<%= restaurant._id %>/reviews" method="POST">
    <label>Date:
        <input type="datetime-local" name="date">
    </label><br>
    <label>Rating:
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </label><br>
    <label>Description:
        <input type="text" name="description">
    </label><br>
    <button type="submit" class="btn btn-info">Submit Review</button>
</form> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rating</th>
                <th>Description</th>
                <th>User Name</th>

                <th></th>

                <th></th>

                <th></th>

                <th></th>
                <th>Likes</th>
                <th>Dislikes</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function(r) { %>
                <tr>
                    <td><%= r.date %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.description %></td>
                    <td class="review-user"><img class="avatar" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-secondary">X</button>
                        </form>
                        <% } %></td>
                    </td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                        <a href="/reviews/<%= r._id %>/edit"><button type="submit" class="btn btn-warning">Update</button></a>
                        <% } %>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/like?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-success">Like</button>
                        </form>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>/dislike?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-danger">Dislike</button>
                        </form>
                    </td>
                    <td><%= r.likes %></td>
                    <td><%= r.dislikes %></td>
                </tr>
                <tr>
                    <td><a href="/comments/reviews/<%= r._id %>/new" button type="button" class="btn btn-light">Add Comment</a></td>
                    <td><% r.comments.forEach(c => { %>
                        <tr>
                            <td><%= c.description %></td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-secondary">X</button>
                                    </form>
                                <% } %></td>
                            </td>
                            <td>
                                <% if (user?._id.equals(r.user)) { %>
                                <a href="/comments/<%= c._id %>/edit"><button type="button" class="btn btn-warning">Update</button></a>
                                <% } %>
                            </td>
                            <td>
                                <form action="/comments/<%= c._id %>/like?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-success">Like</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comments/<%= c._id %>/dislike?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-danger">Dislike</button>
                                </form>
                            </td>
                            <td><%= c.likes %></td>
                            <td><%= c.dislikes %></td>
                        </tr>
                    <% }) %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<br><br><br><br><br><br><br><br><br><br>


<%- include('../partials/footer') %>